@model Veterinaria.Models.Pet

@{
    ViewBag.Title = "Delete";
}

<div class="container bg-warning" style="margin-top:4px">

<h3>Se borrara permanentemente</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weigth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heigth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heigth)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
            <a class="btn btn-primary" href="@Url.Action("Index","Pets")">Regresar</a>
        </div>
    }
</div>
 </div>
